@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff");

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff") format("woff");

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:root {
  --gradient-purple: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  --gradient-red: linear-gradient(141deg, #df5950 0%, #451046 100%);
  --text-size-medium: 1.6rem;
}

.block__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; /* 10px = 1rem */
  font-weight: 400;
  color: #fff;
  height: 100%;
}

body {
  position: relative;
  background-image: linear-gradient(
    to right top,
    #060606,
    #050504,
    #030303,
    #020201,
    #000000
  );
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}

section {
  padding-bottom: 20rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

.button {
  border-radius: 5rem;
  padding: 1rem 3rem;
  color: inherit;
  font-size: var(--text-size-medium);
  font-weight: 700;
  line-height: 150%;
  background: var(--gradient-red);
}

.container {
  width: 130rem;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 4rem 11rem 4rem 8rem;
  z-index: 10;
}

.title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 140%;
}

.description {
  font-size: var(--text-size-medium);
  line-height: 160%;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav a:not(:last-child) {
  margin-right: 7.1rem;
}

.header__nav a {
  font-size: var(--text-size-medium);
  line-height: 150%;
}

.header__logo {
  width: 4rem;
  height: 4rem;
  display: block;
}

.header__button {
  background: var(--gradient-purple);
  font-weight: 400;
}

.main-display__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.main-display {
  padding-top: 27rem;
}

.main-display .container {
  position: relative;
  z-index: 10;
}

.main-display__header {
  font-size: 6.4rem;
  margin-bottom: 5rem;
}

.main-display__timer {
  display: flex;
  margin-bottom: 7.6rem;
}

.timer__item {
  width: 10.2rem;
  height: 11.2rem;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer__item:not(:last-child) {
  margin-right: 3rem;
}

.timer__count {
  font-size: 3.6rem;
  line-height: 140%;
  font-weight: 700;
}

.timer__text {
  font-size: var(--text-size-medium);
  opacity: 0.4;
  line-height: 140%;
}

.main-display__button {
  margin-bottom: 21rem;
}

.about__wrap {
  display: flex;
}

.about__img img {
  width: 52.6rem;
  height: 49.9rem;
  margin-right: 13.9rem;
}

.about__text {
  padding-top: 6.9rem;
}

.about__header {
  margin-bottom: 4.5rem;
}

.process__header {
  display: flex;
  align-items: center;
  margin-bottom: 4.9rem;
  margin-left: 0.5rem;
}

.process__img {
  width: 10.5rem;
  height: 6rem;
}

.process__img img {
  rotate: 45deg;
  width: 9rem;
  height: 4rem;
}

.process__description {
  opacity: 0.5;
  max-width: 41.1rem;
  margin-bottom: 8rem;
}

.process__columns {
  display: flex;
}

.process__item {
  max-width: 30.6rem;
  margin-right: 1.8rem;
}

.process__item-header {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 6.5rem;
}

.process__item-header::after {
  content: "";
  display: block;
  width: 32.4rem;
  height: 0.2rem;
  background: var(--gradient-purple);
  margin-top: 2rem;
}

.process__item:nth-child(even) .process__item-header::after {
  transform: rotate(180deg);
}

.process__item-description {
  font-size: 1.4rem;
  line-height: 160%;
  opacity: 0.5;
}

.team__img {
  width: 12rem;
  height: 8rem;
}

.team__img img {
  rotate: 0deg;
}

.team__header {
  margin-bottom: 11.3rem;
}

.team__items {
  display: flex;
  justify-content: space-evenly;
}

.team__item {
  text-align: center;
}

.team__item-foto {
  width: 19rem;
  height: 19rem;
  border-radius: 50%;
}

.team__item-name {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 140%;
  margin: 4rem 0 1.5rem;
}

.team__item-position {
  opacity: 0.8;
  margin-bottom: 3rem;
}

.item-link_biography {
  border: 1px solid #fff;
  font-weight: 400;
  background: transparent;
}

.order {
  padding-bottom: 24.4rem;
}

.order__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__description {
  opacity: 0.5;
  margin: 3rem 0 4.52rem;
}

.order__sozial-links {
  display: flex;
  justify-content: space-between;
}

.order__sozial-link:not(:last-child) {
  margin-right: 3rem;
}

.order__sozial-link {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient-purple);
}

.order__sozial-link img {
  width: 50%;
  height: 50%;
}

.order__button {
  margin-bottom: 4rem;
}

.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  padding: 3rem 0;
  background: rgb(0, 0, 0, 0.8);
  display: none;
}

.modal__inner {
  width: 66.3rem;
  padding: 9rem 9.4rem;
  background: #2c2c2c;
  text-align: center;
  position: relative;
}

.modal__close {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal__description {
  opacity: 0.5;
  margin: 1rem 0 2.8rem;
}

.modal__items {
  margin: 0 auto 3.2rem;
  width: 45.4rem;
}

.modal__item {
  height: 4.4rem;
  border-radius: 5rem;
  background: grey;
}

.modal__item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.modal__input {
  width: 100%;
  height: 100%;
  padding: 1.2rem 2rem;
  background: transparent;
  font-size: 1.4rem;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
}

.modal__input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.noscroll {
  overflow: hidden;
  height: 100%;
}
